<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<div class="add_input">
		<label for="add_member_uid">UID</label>
		<input type="text" name="add_member_uid" id="add_member_uid" placeholder="UID">
		&nbsp;&nbsp;&nbsp;
		<label for="add_member_orderid">订单号</label>
		<input type="text" name="add_member_orderid" id="add_member_orderid" placeholder="订单号">
		<button class="add_member_btn">添加</button>
	</div>
	<div class="waiting_add_list">
		<p>待加入群成员</p>
		<table>
			<thead>
				<tr>
					<th>UID</th>
					<th>订单号</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</body>
</html>